

:root {
  --principal-color: #d79d4f;
  --background-color: #e5e5e5;
}

header {
  max-width: 100vw;
  height: calc(100vh - 50px);
}

header img {
  width: 100%;
  height: 100%;
}

header h1 {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 3em;
  text-align: center;

  max-width: 100vw;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 30vh 40px;
  /* overflow: auto; */

  color: #fff;
  background-color: rgba(50, 50, 50, 0.5);

  transition: 0.1 ease-in-out;
}



main {
  max-width: 1400px;
  /* width: fit-content; */
  margin-bottom: 40px;

  margin-top: 50px;
}

main .title{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  /* height: 15vh; */
  margin: auto;
  text-align: justify;
  
  margin-bottom: 15px;
}


.title h2 {
  /* text-align: center; */
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 1.7em;
  margin-bottom: 15px;
}

.title p {

  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1em;

}


.carousel {
  position: relative;
  width: 90%;
  height: 60vh;
  margin: auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.carousel-item {
  display: flex;
  flex-direction: column;

  /* align-items: center; */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  z-index: -1;

  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  /* display: block; */
  /* position: relative; */
  /* left: 25vw; */
  margin: auto;
  opacity: 1;
  z-index: 0;

  
}

.carousel-item img {
  height: calc(80% - 25px);
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.05); */
  padding: 0 12px;
  color: #fff;
  /* width: calc(100% - 60px); */
  height: 20%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel-caption div h3 {

  color: black;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.2em;

}

.carousel-caption div p {

  color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.4; */

}

.carousel-caption div p img {
  width: 14px;
  height: 14px;
  /* opacity: 1 !important; */
}

.btn-price {

  font-family: "Monserrat";
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: var(--principal-color);
  width: fit-content;
  margin-top: 40px;
  padding: 10px 13px;
  border-radius: 5px;

  margin: auto 0;

}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;

}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgba(215, 157, 79, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  transition: 0.3s ease-in-out;
}

.carousel-indicators li.active {
  background-color: rgb(215, 157, 79);
  width: 24px;
  border-radius: 45%;
}

@media screen and (min-width: 768px) {
  
  header {
    /* width: 90vw; */
    margin: 0 auto;
  }

  header img {
    width: 60%;
    height: calc(100vh - 72px);
  }

  header h1 {
    width: 45%;
    right: 0;
    top: 72px;
    /* bottom: -22px; */

    font-size: 3.7em;
    padding: 20vh 50px;

    background-color: rgba(50, 50, 50, 0.95);
    
  }

  main .title {
    width: 70%;
    text-align: center;
  }

  .title h2 {
    font-size: 1.9em;
  }

  .title p {
    font-size: 1.05em;
  }


  .carousel {
    width: 70%;
  }

  .carousel-caption {
    padding: 0 40px;
  }

  .carousel-caption div h3 {
    font-size: 1.4em;
  }

  .carousel-caption div p img {
    width: 18px;
    height: 18px;
  }

  .btn-price {
    font-size: 1.3em;
  }
}
